In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Local module
from nxr_classes import Organisations

In [3]:
nor = pd.read_excel("nor - alle organisasjoner.xlsx")

In [7]:
for col in nor.columns:
    print(col)

Unnamed: 0
Orgnr
Navn
Karakteristikk
Fylke_Fylkesnr
Fylke_Navn
Fylke_Orgnr
Fylke_OrgnrStatsforvalter
Kommune_Kommunenr
Kommune_Navn
Kommune_Orgnr
Kommune_ErNedlagt
Kommune_Fylkesnr
Kommunegruppe_Gruppe
Kommunegruppe_Navn
Beliggenhetsadresse_Adresse
Beliggenhetsadresse_Postnr
Beliggenhetsadresse_Poststed
Beliggenhetsadresse_Land
Postadresse
Koordinat_Lengdegrad
Koordinat_Breddegrad
Koordinat_Zoom
Koordinat_GeoKilde
Epost
Url
Maalform_Id
Maalform_Navn
Telefon
Mobil
Fax
Organisasjonsform_Id
Organisasjonsform_Navn
Utgaattype_Id
Utgaattype_Navn
ErAktiv
ErOpplaeringskontor
ErOpplaeringskontorEier
Opplaeringskontorleder
AntallLaerlinger
AnsatteFra
AnsatteTil
Enhet_Orgnr
Enhet_Navn
Relasjonstype_Id
Relasjonstype_Navn
DatoFoedt
DatoEndret
Postadresse_Adresse
Postadresse_Postnr
Postadresse_Poststed
Postadresse_Land
Opplaeringskontorleder_Fornavn
Opplaeringskontorleder_Etternavn
Opplaeringskontorleder_Epost
Opplaeringskontorleder_Telefon
Beliggenhetsadresse
Kommune_Kommunegruppe
Naeringskoder_0_Prioritet
Naeringskoder_0_ErHjelpeenhetskode
Naeringskoder_0_Kode
Naeringskoder_0_Navn
Naeringskoder_0_Versjon
Naeringskoder_1_Prioritet
Naeringskoder_1_ErHjelpeenhetskode
Naeringskoder_1_Kode
Naeringskoder_1_Navn
Naeringskoder_1_Versjon
Naeringskoder_2_Prioritet
Naeringskoder_2_ErHjelpeenhetskode
Naeringskoder_2_Kode
Naeringskoder_2_Navn
Naeringskoder_2_Versjon

#### Nasjonalt register for opplæringskontorer (NOR)
Udirs beskrivelse av registeret:   
"Data fra Nasjonalt register for opplæringskontorer viser enheter og deres eiere fra Virksomhets- og Foretaksregisteret (VoF). Opplæringskontorene i NOR inneholder også informasjon om hvilke fylkeskommuner som har godkjent opplæringskontoret (dette er informasjon som kommer fra VIGO)."

Vi har hentet ut detaljert informasjon om samtlige 982 organisasjoner som er registrert i NOR.

I registeret er det registrert:
- Organisasjonsnummer
- Navn
- Eier av opplæringskontor
- Beliggenhet
- Kontaktinformasjon (epost, telefon og postadresse)
- Målform
- Organisasjonsform
- Kontaktinformasjon til leder for opplæringskontor
- Antall lærlinger
- Antall ansatte
- Næringskoder

Dette dokumentet går gjennom den mest sentrale informasjon i nor.

##### Aktive og nedlagte barnehager

Først og fremst er det verdt å merke seg at NOR består av både aktive og nedlagte organsisasjoner. Tabellen under viser forskjellige status i registeret og hvor mange opplæringskontor som tilhører hver av dem. I NOR er det 899 aktive opplæringskontor, eller sagt på registerspråket: opplæringskontor uten utgåtttype.

In [8]:
nor['Utgaattype_Navn'].value_counts()

Ingen utgåttype    899
Slettet             82
Name: Utgaattype_Navn, dtype: int64

Det er også mulig å identifisere nedlagte organisasjoner med kolonnnen `ErAktiv`.

In [9]:
pd.crosstab(nor.Utgaattype_Navn, nor.ErAktiv)

ErAktiv          False  True
Utgaattype_Navn
Ingen utgåttype     37    862
Slettet             82      0

##### Identifisere opplæringskontorene
Det er ikke alle organisasjoner i NOR som er et opplæringskontor. 337 av organisasjonene er et opplæringskontor, 8 organisasjoner er eier av opplæringskontor.

Merk at 632 organisasjoner er verken registrert som opplæringskontor eller eier av et opplæringskontor. Mange av disse er kommuner.

In [12]:
pd.crosstab(nor.ErOpplaeringskontorEier, nor.ErOpplaeringskontor)

ErOpplaeringskontor      False  True
ErOpplaeringskontorEier
False                      632    337
True                         8      4

Opplæringskontorene er fordelt på forskjellige organisasjonsformer. Mange er registrert som forening/lag/innretning, mens andre er registrert som aksjeselskap, samvirkeforetak, mm.

In [13]:
pd.crosstab(nor.Organisasjonsform_Navn, nor.ErOpplaeringskontor)

ErOpplaeringskontor               False  True
Organisasjonsform_Navn
Aksjeselskap                         15     43
Annen juridisk person                 6      0
Annet foretak iflg. særskilt lov      2      3
Bedrift                              17     13
Enkeltpersonforetak                   1      0
Forening/lag/innretning              35    222
Fylkeskommune                        28      0
Ingen enhetstype                      2      0
Interkommunalt selskap                1      0
Kommune                             471      3
Organisasjonsledd                    34      3
Samvirkeforetak                       1     34
Selskap med begrenset ansvar          1      1
Staten                               22      0
Stiftelse                             4     19